<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<!-- Employee emp = new Employee(); -->
<bean id="emp" class="com.Employee"   autowire="byName">

		<constructor-arg name="empId" value="100"></constructor-arg>
		<constructor-arg name="empName" value="Apple"></constructor-arg>
		<constructor-arg name="empSal" value="2390834"></constructor-arg>
		<constructor-arg name="empAdd" value="India"></constructor-arg>



</bean>

<bean id="emp1" class="com.Employee"   autowire="byName">

		<constructor-arg name="empId" value="101"></constructor-arg>
		<constructor-arg name="empName" value="Rose"></constructor-arg>
		<constructor-arg name="empSal" value="2390834"></constructor-arg>
		<constructor-arg name="empAdd" value="Hyderabad"></constructor-arg>



</bean>


</beans>